/* --------------------------------------------------
                   Header styles
 ---------------------------------------------------*/
.app-header{
  background: @header-bg;
  color: @header-txt;
  .navbar-toggle{
    .icon-bar{
      background:@header-txt;
    }
  }
  .navbar-brand{
    font-family: 'hind_semibold';
    font-size: 2.143rem;
    padding: 20px 17px;
    height: 58px;
  }
  a.navbar-brand,a.navbar-brand:hover{
    color: @header-txt;
  }
  .nav {
    .open {
      >a {
        background: @header-bg;
        &:focus,&:hover{
           background: @header-bg;
        }
      }
    }
    > li > a{
      color: @header-txt;
      &:hover,&:focus{
        background: @header-bg;
        color: @header-txt;
      }
    }
  }

}


.image-next{
  margin-bottom: 0;
}
