/* --------------------------------------------------
              Overwrite default element style
 ---------------------------------------------------*/
body{
  font-family: 'hind_regular';
  height: 100%;
  color: @body-txt;
}
ul{
  padding: 0;
}
