/* --------------------------------------------------
             Theme variables
 ---------------------------------------------------*/
@color-1c97c6:                                                    #1c97c6;
@color-fff:                                                       #fff;


//Header
@header-bg:                                                       @color-1c97c6;
@header-txt:                                                      @color-fff;
