/* --------------------------------------------------
             Theme variables
 ---------------------------------------------------*/
@color-1c97c6:                                                    #1c97c6;
@color-fff:                                                       #fff;
@color-46474c:                                                    #46474c;
@color-5d6062:                                                    #5d6062;
@color-117ca1:                                                    #117ca1;
@color-00b6ea:                                                    #00b6ea;
@color-6bcf00:                                                    #6bcf00;
@color-49acd1:                                                    #49acd1;

//Body
@body-txt:                                                        @color-5d6062;

//Header
@header-bg:                                                       @color-1c97c6;
@header-txt:                                                      @color-fff;


//Footer
@footer-bg:                                                       @color-46474c;
@footer-txt:                                                      @color-fff;
