<footer class="container">
  <div class="row app-footer">
    <div class="col-sm-8">
      <a class="link-heading">elpme</a>
      <p>Our tools will help you quickly choose the right service for your needs. Our tools will help you quickly choose the right service for your needs. Our tools will help you quickly choose the right service for your needs. Our tools will help you quickly choose the right service for your needs. Our tools will help you quickly choose the right service for your needs.</p>
    </div>
    <div class="col-sm-2">
      <a class="link-heading">Company</a>

    </div>
    <div class="col-sm-2">
      <a class="link-heading">Follow Us</a>
    </div>
  </div>
</footer>
